ul {
    list-style: none;
}

.dropdown{
    font-family: sans-serif;
    color: white;
    background-color: #202832;
    border-radius: 0.5rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dropdown-select{
    padding: 1rem;
}

.table-header{
    background-color: #01987a;
}